@font-face {
    font-family: 'Georgia';
    src: url("../../../assets/fonts/Georgia.woff2") format('woff2');
}

:root {
    --basic-white: #FFFFFF;
    --basic-light: #F6F6F6;
    --basic-active: #FAFAFA;
    --basic-orange: #F1CDB3;
    --orange-hover: #FDDCC4;
    --basic-gray: #B2B2B2;
    --basic-dark: #292929;
    --basic-light-gray: #CDCDCD;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    color: var(--basic-dark);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

img {
    height: auto;
}

.btn {
    padding: 15px 45px;

    display: flex;
    border-radius: 100px;
    border: none;
    background: var(--basic-orange);

    color: var(--basic-dark);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1.02px;
    text-decoration: none;

    cursor: pointer;
    transition-duration: 0.5s;
}

.btn:hover,
.btn:focus {
    background-color: var(--orange-hover);
}

.btn:active {
    box-shadow: inset 0px 2px 2px var(--basic-dark);
}

.general {
    padding: 80px 40px 100px;
}

.section-title {
    margin: 0;

    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 2.1px;
}

.title {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
}

/* HEADER */

.header {
    padding: 30px 40px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--basic-white);
}

.header-logo {
    display: block;

    text-decoration: none;
    color: inherit;

    cursor: pointer;
}

.header-logo:hover .header-text {
    color: var(--basic-light-gray);
    text-shadow: 0 1px 1px var(--basic-light-gray);

}

.header-logo:hover .header-title {
    color: var(--orange-hover);
    text-shadow: 0 1px 1px var(--orange-hover);
}

.header-title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 1.92px;
    color: var(--basic-orange);

    transition-duration: 0.5s;
}

.header-text {
    margin: 0;

    font-size: 13px;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;

    transition-duration: 0.5s;
}

.header-burger {
    display: none;
}

.nav-list {
    margin: 0;
    padding: 0;
    margin-right: 2px;

    display: flex;
    gap: 35px;

    list-style: none;
}

.nav-link {
    display: block;

    line-height: 1.6;
    text-decoration: none;
    color: var(--basic-light-gray);

    cursor: pointer;
    transition-duration: 0.5s;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--basic-active);
}

.nav-link:active {
    color: var(--basic-active);
    border-bottom: 3px solid var(--basic-orange);
}

.nav-active {
    pointer-events: none;
    cursor: default;
    color: var(--basic-active);
    border-bottom: 3px solid var(--basic-orange);
}

/* START SCREEN */

.start {
    margin-top: -90px;

    background: url("../../../assets/images/background_transparent.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start-wrapper {
    padding: 180px 40px 0;

    display: flex;
    column-gap: 42px;

    color: var(--basic-white);
}

.start-content {
    width: 38.33%;
    margin-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.start-title {
    width: 81.6%;
    margin: 0;
    margin-bottom: 42px;

    font-size: 44px;
    line-height: 1.3;
}

.start-text {
    margin: 0;
    margin-bottom: 42px;

    line-height: 1.6;
}

.start-img {
    aspect-ratio: 698/728;
    width: 58.17%;
}

/* ABOUT */

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;

    color: var(--basic-dark);
}

.about-content {
    width: 35.9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .section-title {
    width: 86.2%;
    margin-bottom: 23px;
}

.about-text {
    margin: 0;
    margin-bottom: 25px;
}

.about-text:last-of-type {
    margin-bottom: 0;
}

.about-img {
    aspect-ratio: 300 / 408;
}

/* PETS */

.pets {
    background: var(--basic-light);
}

.pets-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
}

.pets .section-title {
    text-align: center;
    width: 33.33%;
}

.pets-slider {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pets-list {
    width: 82.5%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    /* column-gap: 90px; */

    list-style: none;
}

.pet-item {
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: var(--basic-active);
}

.pet-item:hover {
    background-color: var(--basic-white);

    cursor: pointer;
    transition-duration: 0.5s;
}

.pet-item:hover > .pet-button {
    background-color: var(--orange-hover);
    border: 2px solid var(--orange-hover);
}

.pet-img {
    background-color: var(--basic-active);
}

.pet-name {
    margin: 0;

    text-align: center;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 1.2px;
}

.slider-btn {
    display: flex;
    align-items: center;
    padding: 21px 17px;

    border-radius: 100px;
    background-color: transparent;
    border: 2px solid var(--basic-orange);

    cursor: pointer;
    transition-duration: 0.5s;
}

.slider-btn:hover,
.slider-btn:focus {
    background-color: var(--orange-hover);
    border: 2px solid var(--orange-hover);
}

.slider-btn:disabled {
    border: 2px solid var(--basic-light-gray);
}

.slider-btn:disabled path {
    fill: var(--basic-light-gray);
}

.pet-button {
    padding: 13px 44px;
    width: fit-content;
    display: block;
    align-self: center;

    border-radius: 100px;
    background-color: transparent;
    border: 2px solid var(--basic-orange);
}

/* HELP */

.help {
    background-color: var(--basic-white);
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 59px;
}

.help .section-title {
    width: 25.9%;
    text-align: center;
}

.help-list {
    width: 85.75%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;

    list-style: none;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help-name {
    margin: 0;

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 1.2px;
}

/* DONATION */

.donation {
    background: var(--basic-light);
}

.donation-wrapper {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    color: var(--basic-dark);
}

.donation-img {
    aspect-ratio: 505 / 261;
    width: 42.08%;
}

.donation-content {
    width: 31.7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.donation .section-title {
    width: 78.9%;
}

.donation-bank {
    margin: 0;

    line-height: 1.1;
    letter-spacing: 0.9px;
}

.card-link {
    width: fit-content;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 1.2px;

    border-radius: 9px;
    background: var(--basic-orange);
}

.card-info {
    margin: 0;

    color: var(--basic-dark);
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
}

/* FOOTER */

.footer {
    background: url("../../../assets/images/background_transparent.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-wrapper {
    padding: 40px 40px 0;

    display: flex;
    justify-content: space-between;
}

.footer-image {
    aspect-ratio: 300 / 310;
    width: 25%;
}

.footer-links {
    width: 23.2%;

    margin-top: 16px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.footer-links:nth-of-type(2) {
    width: 25.17%;
}

.footer-item {
    align-self: flex-start;
}

.footer-title {
    margin: 0;

    color: var(--basic-white);
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 2.1px;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 20px;

    color: var(--basic-orange);
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 1.2px;
    text-decoration: none;

    cursor: pointer;
    transition-duration: 0.5s;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--orange-hover);
    text-shadow: 0 1px 1px var(--basic-white);
}

.footer-link:active {
    text-decoration: underline;
}

/* MEDIA */

@media screen and (max-width: 1280px) {

    .pets .section-title {
        width: 56.5%;
    }

    .help .section-title {
        width: 43.8%;
    }

    .help-list {
        width: 100%;
        padding: 0 40px;
        column-gap: unset;
        justify-content: space-between;
    }

    .help-item {
        width: 26.9%;
    }

    .donation .section-title {
        width: 85%;
    }

    .donation-content {
        width: 38%;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer-links {
        width: 43.5%;

        row-gap: 39px;
        justify-content: flex-start;
    }

    .footer-links:nth-of-type(2) {
        width: 43.5%;
        row-gap: 32px;
    }

    .footer-image {
        width: 47%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1080px) {

    .pet-hidden-768 {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .general {
        padding: 80px 30px 100px;
    }

    .header {
        padding: 30px 30px 0;
    }

    .start-wrapper {
        width: 100%;
        padding: 150px 40px 0;

        flex-wrap: wrap;
        justify-content: center;
    }

    .start-content {
        width: 66.9%;
        margin-bottom: 98px;
    }

    .start-title {
        width: 67.7%;
    }

    .start-button {
        align-self: center;
    }

    .start-img {
        position: relative;
        left: 70px;

        width: 82.75%;
    }

    .about-wrapper {
        width: 61.0%;
        margin: 0 auto;
    }

    .about-content {
        width: 100%;
        margin-bottom: 80px;

        order: 1;
    }

    .about-img {
        width: 69.47%;
        margin: 0 auto;

        order: 2;
    }

    .about .section-title {
        margin-bottom: 25px;
    }

    .pets-slider {
        column-gap: 12px;
    }

    .pets-list {
        column-gap: 40px;
    }

    .donation-wrapper {
        width: 71.33%;
        margin: 0 auto;

        row-gap: 60px;
    }

    .donation-content {
        width: 75.25%;
        margin: 0 auto;

        order: 1;
    }

    .donation .section-title {
        width: 79%;
    }

    .donation-img {
        width: 100%;
        order: 2;
    }

    .footer-wrapper {
        padding: 30px 64px 0;

        flex-wrap: wrap;
        row-gap: 65px;
    }

    .footer-links {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer-links:nth-of-type(2) {
        width: 47.1%;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {

    .header-burger {
        display: block;
        padding: 0;

        border: none;
        background-color: transparent;

        cursor: pointer;
        transition-duration: 0.5s;
    }

    .burger-active {
        /* будет реализован поворот */
    }

    .menu {
        position: fixed;
        top: 0;
        /* right: -100%; */
        right: 0;

        width: 320px;
        height: 100vh;
        margin: 0;

        display: none;
        align-items: center;
        justify-content: center;

        background-color: var(--basic-white);
    }

    .menu-active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        gap: 40px;
    }

    .nav-link {
        font-size: 32px;
    }

    .pet-hidden-320 {
        display: none;
    }

    .pets-list {
        justify-content: center;
    }

    .footer-wrapper {
        padding: 30px 10px 0;
        row-gap: 40px;
    }

    .footer-title {
        width: 90%;
        font-size: 25px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .footer-links {
        width: 100%;

        align-items: center;
    }

    .footer-links:nth-of-type(2) {
        width: 100%;

        row-gap: 40px;
    }

    .footer-image {
        width: 87%;
    }
}

@media screen and (max-width: 600px) {

    .header {
        padding: 30px 20px 0;
    }

    .start-title {
        width: 85%;
    }

    .section-title {
        width: 100%;
    }

    .about .section-title {
        text-align: center;
    }

    .pets .section-title {
        width: 100%;
    }

    .help .section-title {
        width: 73.8%;
    }

    .donation-wrapper {
        width: 100%;

        row-gap: 42px;
    }

    .donation-content {
        width: 100%;
        padding: 0 10px;

        align-items: center;
        text-align: justify;
    }

}

@media screen and (max-width: 480px) {

    .section-title {
        font-size: 25px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .general {
        padding: 42px 10px;
    }

    .start-wrapper {
        padding: 150px 10px 0;
    }

    .start-content {
        width: 100%;
        margin-bottom: 105px;

        text-align: center;
        align-items: center;
    }

    .start-img {
        width: 86.7%;
        left: 6.15%;
    }

    .start-title {
        font-size: 25px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .about-wrapper {
        width: 100%;

        row-gap: 42px;

        text-align: justify;
    }

    .about-content {
        align-items: center;
        margin-bottom: 0;
    }

    .about-img {
        width: 85%;
    }

    .pets-slider {
        flex-wrap: wrap;
    }

    .pets-wrapper {
        row-gap: 42px;
    }

    .pets-list {
        width: 100%;
        order: 1;

        margin-bottom: 20px;
    }

    .button-left {
        order: 2;
        margin-left: 58px;
    }

    .button-right {
        order: 3;
        margin-right: 58px;
    }

    .button-left {
        order: 2
    }

    .help-wrapper {
        row-gap: 45px;
    }

    .help-list {
        padding: 0 5px;

        row-gap: 30px;
        column-gap: 30px;
    }

    .help-item {
        width: 43.35%;
        gap: 20px;
    }

    .help-img {
        width: 50px;
    }

    .help-name {
        font-size: 15px;
        line-height: 1.1;
        letter-spacing: 0.9px;
    }

    .card-number {
        font-size: 15px;
        letter-spacing: 0.9px;
    }

    .donation-img {
        width: 86.7%;
    }

    .donation-bank {
        letter-spacing: normal;
        line-height: unset;
    }

}

@media screen and (max-width: 320px) {

    .about-content {
        padding: 0 15px;
    }

    .about-text {
        font-size: 15px;
    }

    .footer-links:nth-of-type(2) .footer-link {
        align-self: flex-start;
    }

}

